In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
print (fig)

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Talara,-4.58,-81.27,77.00,61,1,16.11,PE,2020-10-07 19:10:49
14,14,Mandera,3.94,41.87,87.91,43,25,5.57,KE,2020-10-07 19:10:51
15,15,Brigantine,39.41,-74.36,78.80,41,1,19.46,US,2020-10-07 19:10:51
21,21,Mahebourg,-20.41,57.70,75.20,83,40,10.29,MU,2020-10-07 19:10:52
22,22,Avarua,-21.21,-159.78,75.20,69,64,18.34,CK,2020-10-07 19:10:52
24,24,Havelock,34.88,-76.90,82.40,54,1,12.75,US,2020-10-07 19:10:52
29,29,Puerto Ayora,-0.74,-90.35,77.00,61,20,17.22,EC,2020-10-07 19:10:53
34,34,Jipapad,12.29,125.24,75.11,95,100,3.40,PH,2020-10-07 19:10:53
36,36,Itarema,-2.92,-39.92,83.80,64,52,17.90,BR,2020-10-07 19:10:54
39,39,Butaritari,3.07,172.79,81.64,78,100,8.79,KI,2020-10-07 19:10:54

In [16]:
preferred_cities_df.count()

City_ID       184
City          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
Country       184
Date          184
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2         Talara      PE     77.00  -4.58  -81.27
14       Mandera      KE     87.91   3.94   41.87
15    Brigantine      US     78.80  39.41  -74.36
21     Mahebourg      MU     75.20 -20.41   57.70
22        Avarua      CK     75.20 -21.21 -159.78
24      Havelock      US     82.40  34.88  -76.90
29  Puerto Ayora      EC     77.00  -0.74  -90.35
34       Jipapad      PH     75.11  12.29  125.24
36       Itarema      BR     83.80  -2.92  -39.92
39    Butaritari      KI     81.64   3.07  172.79

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}