## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Kokstad,ZA,74.77,-30.55,29.42,Majestic Bed and Breakfast
1,1,Gilgit,PK,70.75,35.92,74.31,Tourist Hamlet Gilgit
2,4,Bud,US,66.00,39.45,-86.18,Madsion Scouts Camp
3,5,Cape Town,ZA,69.01,-33.93,18.42,Southern Sun Waterfront Cape Town
4,6,Rikitea,PF,73.11,-23.12,-134.97,Pension Maro'i

In [3]:
# 2. Using the template add the city name, the country code, and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 4b. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Mount Pleasant"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Mount Pleasant"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Dillon"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Fayetteville"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Havelock"] 
vacation_start

     City_ID            City Country  Max Temp    Lat    Lng Hotel Name
268      550  Mount Pleasant      US      79.0  32.79 -79.86        NaN

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_point = start
end_point = end
waypoints = [stop1,stop2,stop3]
directions = gmaps.directions_layer(start_point, end_point, waypoints=waypoints, travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.pd.concat([s1, s2], ignore_index=True)
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

   City_ID            City Country  Max Temp    Lat    Lng Hotel Name
0      550  Mount Pleasant      US     79.00  32.79 -79.86        NaN
1      288          Dillon      US     79.00  34.42 -79.37        NaN
2      221    Fayetteville      US     78.01  35.05 -78.88        NaN
3      325        Havelock      US     78.01  34.88 -76.90        NaN

In [45]:
# 9 Using the template add city name, the country code, and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))